<mtapp:setting
    id="gcat_blog_id"
    label="<__trans phrase="Global Categories Blog ID:">"
    hint="<__trans phrase="Hint">">
    <input class="text num" type="text" name="gcat_blog_id" id="gcat_blog_id" value="<mt:var name="gcat_blog_id" escape="html">" />
</mtapp:setting>
